            .header{
                height: 8%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: white;
            }
            
            .header .logo{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;
                width: 25%;
                margin-left: 5%;
            }
            
            .header .logo img{
                height: 70%;
                width: 10%;
                cursor: pointer;
            }
            
            .header .logo div{
                font-size: 18px;
                cursor: pointer;
            }
            
            
            .header .search{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 50%;
            }
            
            .header .search form {
                height: 100%; 
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .header .search table{
                height: 70%; 
                width: 100%;                
            }
            
            .header .search input[type="text"], .search select{
                border: 1px solid #A9A9A9;
            }
            
            .header .search input[type="text"]{
                height: 90%;
                width: 100%;
            }
            
            .header .search select{
                height: 100%;
                width: 50%;
            }
            
            .header .search input[type="text"]::placeholder{
                font-size: 14px;
                color: #A9A9A9;
                padding-left: 5%;
            }
            
            .header .buttons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 15%;
                padding: 0 5%;
            }
            
            .header .buttons img{
                height: 50%;
                cursor: pointer;
                padding: 2%;
            }

            .header .buttons div{
                cursor: pointer;
                padding: 3%;
            }

            .header .buttons img:hover, 
            .header .buttons div:hover,
            .header .search input[type="text"]:hover,
            .header .search select:hover{
                background-color: rgb(220, 220, 220, 0.7);
            }









